
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStoreApiTests">

    <test name="ApiTestUser">
        <classes>
            <class name="com.test.ApiTestUser">
                <methods>
                    <include name="testCreateUsersArray" />
                    <include name="testCreateUsersList" />
                    <include name="testCreateUser" />
                    <include name="testGetUserByName" />
                    <include name="testGetUserByLogin" />
                    <include name="testGetUserByLogOut" />
                    <include name="testUpdateUserByName" />
                    <include name="testDeleteUserByName" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="ApiTestStore">
        <classes>
            <class name="com.test.ApiTestStore">
                <methods>
                    <include name="testCreatingPetStoreOrder" />
                    <include name="testGettingPetStoreOrderByID" />
                    <include name="testDeletingPetStoreOrderByID" />
                    <include name="testGettingStoreInventory" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="ApiTestPet">
        <classes>
            <class name="com.test.ApiTestPet">
                <methods>
                    <include name="testCreatePet" />
                    <include name="testCreatePetById" />
                    <include name="testDeletePetById" />
                    <include name="testCreatePetByUploadedImg" />
                    <include name="testUpdatePet" />
                    <include name="testGetPetByStatus" />
                    <include name="testGetPetById" />
                </methods>
            </class>
        </classes>
    </test>
</suite>





